{
  "env": {
    "browser": true,
    "node": false
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "modules": true,
    "restParams": true
  },
  "rules": {
    "semi": 2,
    "quotes": "single",
    "curly": [2, "multi-line"]
  }
}
