/*--------------------------------------------*\
  Functions
\*--------------------------------------------*/

@function pow ($x, $n) {
  $ret: 1;

  @if $n >= 0 {
    @for $i from 0 to $n {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}

@function ms ($n, $base: 1rem, $ratio: 1.618) {
  @return pow($ratio, $n) * $base;
}



/*--------------------------------------------*\
  Variables
\*--------------------------------------------*/

$purple: #5300e2;
$reddish: #cc005f;
$reddish-light: lighten(saturate($reddish, 30%), 25%);
$gold: #e8b81d;
$black: #3d3d3d;
$gray: lighten($black, 50%);
$white: #fff;
$white-transparent: rgba($white, .3);

$font-size-root: 18px;
$font-size-small: ms(-1);
$font-size-normal: ms(0);
$font-size-medium: ms(1);
$font-size-large: ms(3);

$gutter-small: $font-size-small;
$gutter: $font-size-normal;
$gutter-large: $font-size-medium;
$gutter-xlarge: $font-size-large;

$border-radius: 4px;



/*--------------------------------------------*\
  Styles
\*--------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-root;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: 'Abel', sans-serif;
  font-size: $font-size-normal;
  line-height: 1.4;
  text-align: center;

  color: $white;
  background: linear-gradient(0deg, $reddish 0%, $purple 100%);
  border: $gutter solid $white-transparent;
}

a {
  color: $gold;
  text-decoration: none;
  border-bottom: 2px solid $reddish;
}

h1,
p {
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-family: 'Bigshot One', cursive;
  font-size: $font-size-large;
  color: $gold;

  .muted {
    color: $white-transparent;
  }
}

pre {
  font-size: $font-size-medium;
  margin: $gutter-large 0;
}

code {
  display: inline-block;
  color: $black;
  background-color: $white;
  padding: $gutter;
  border-radius: $border-radius;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 $gutter-small 0 0;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    font-size: $font-size-medium;
    position: relative;
    padding: $gutter-small $gutter;
    border-radius: $border-radius;
    border: 2px solid $reddish-light;
    box-shadow: inset 0 0 20px 6px $white-transparent, 0 4px 0 0 $reddish-light;

    &:hover,
    &:active {
      top: 2px;
      box-shadow: inset 0 0 20px 6px $white-transparent, 0 2px 0 0 $reddish-light;

      .muted {
        color: $reddish-light;
      }
    }

    &:active {
      opacity: .6;
    }

    .muted {
      display: inline-block;
      vertical-align: baseline;
      font-size: $font-size-medium;
      margin-right: $gutter-small;
      color: $white-transparent;
    }
  }
}

section {
  position: relative;
  padding: $gutter-large $gutter-xlarge;
  border: 1px dashed $white-transparent;

  &:before {
    $factor: 20px;

    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -($factor / 2);
    left: -($factor / 2);
    width: calc(100% + #{$factor});
    height: calc(100% + #{$factor});
    border: 1px solid $white-transparent;
  }
}

footer {
  color: $reddish-light;
  margin-top: $gutter;
}
