/*--------------------------------------------*\
  Functions
\*--------------------------------------------*/

@function pow ($x, $n) {
  $ret: 1;

  @if $n >= 0 {
    @for $i from 0 to $n {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}

@function ms ($n, $base: 1rem, $ratio: 1.618) {
  @return pow($ratio, $n) * $base;
}



/*--------------------------------------------*\
  Mixins
\*--------------------------------------------*/

@mixin fade-slide-base {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 600ms ease-out,
              opacity 600ms ease-out;
}

@mixin delay ($delay) {
  transition-delay: $delay;
}

@mixin fade-slide-active {
  transform: translateY(0);
  opacity: 1;
}

@mixin flexbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/*--------------------------------------------*\
  Variables
\*--------------------------------------------*/

$purple: #7642d0;
$reddish: #e7438f;
$reddish-light: lighten(saturate($reddish, 20%), 10%);
$gold: #ffc302;
$black: #3d3d3d;
$gray: lighten($black, 55%);
$gray-light: lighten($black, 70%);
$white: #fff;
$white-transparent: rgba($white, .3);
$green: rgb(70, 174, 67);
$red: rgb(242, 87, 87);
$yellow: $gold;

$font-size-root: 18px;
$font-size-small: ms(-1);
$font-size-normal: ms(0);
$font-size-medium: ms(1);
$font-size-large: ms(3);

$gutter-small: $font-size-small;
$gutter: $font-size-normal;
$gutter-large: $font-size-medium;
$gutter-xlarge: $font-size-large;

$border-radius: 4px;



/*--------------------------------------------*\
  Styles
\*--------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-root;
}

body {
  @include flexbox-container;

  font-family: 'Abel', sans-serif;
  font-size: $font-size-normal;
  line-height: 1.2;
  text-align: center;

  color: $white;
  background: linear-gradient(0deg, $reddish 0%, $purple 100%);
  border: $gutter solid $white-transparent;
}

a {
  color: $white;
  text-decoration: none;
}

small {
  font-size: $font-size-normal;
  display: inline-block;
  vertical-align: middle;
}

h1,
h2 {
  font-family: 'Bigshot One', cursive;
  font-size: $font-size-large;
  line-height: 1;
  margin: 0;

  .muted {
    color: $white-transparent;
  }

  .ornot {
    color: $white;
  }
}

h1 {
  color: $gold;
}

h2 {
  color: $reddish;
  margin-bottom: $gutter;
}

.question-container {
  font-size: $font-size-medium;
  margin: $gutter-large 0;

  code {
    display: inline-block;
    color: $reddish;
    font-weight: bold;
    font-family: monospace;
    background-color: $white;
    padding: $gutter;
    border-radius: $border-radius;
  }
}

[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin: 0 .2em 0 0;
}

.button-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 $gutter-small 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  display: block;
  font-size: $font-size-medium;
  position: relative;
  padding: $gutter-small $gutter;
  border-radius: $border-radius;
  border: 2px solid $reddish-light;
  box-shadow: inset 0 0 20px 6px $white-transparent, 0 4px 0 0 $reddish;

  &:hover,
  &:active,
  &.active {
    color: $gold;
    top: 2px;
    box-shadow: inset 0 0 20px 6px $white-transparent, 0 2px 0 0 $reddish;

    .muted,
    [class*="icon-"] {
      color: $reddish-light;
    }
  }

  &:active,
  &.active {
    opacity: .6;
  }

  &.button--secondary {
    background-color: $reddish-light;

    &:hover,
    &:active,
    &.active {
      .muted,
      [class*="icon-"] {
        color: $white;
      }
    }
  }

  .muted,
  [class*="icon-"] {
    color: $white-transparent;
  }
}

.box-container {
  $enlarge-margin: 20px;

  position: relative;
  margin: (($enlarge-margin / 2) - 1px); // 1px is the border-width
  padding: $gutter-large $gutter-xlarge;
  border: 1px dashed $white-transparent;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -($enlarge-margin / 2);
    left: -($enlarge-margin / 2);
    width: calc(100% + #{$enlarge-margin});
    height: calc(100% + #{$enlarge-margin});
    border: 2px solid $white-transparent;
  }
}

.footer {
  margin-top: $gutter;
  color: $white-transparent;

  a {
    color: $white-transparent;
    display: inline-block;
    padding: .2em;
    border-bottom: 2px solid $reddish;
    margin-left: $gutter-small;

    [class*="icon-"] {
      color: $reddish;
    }

    &:focus,
    &:hover {
      color: $white;
      border-color: $gold;
      background: linear-gradient(0deg, rgba($gold, .2) 0%, rgba($white, 0) 80%);

      [class*="icon-"] {
        color: $gold;
      }
    }
  }
}



.life-bar {
  height: 8px;
  width: 100%;
  background-color: $green;
  box-shadow: inset 0 0 2px 2px lighten(saturate(rgba($green, .8), 10%), 10%), 0 0 4px 2px lighten(rgba($green, .8), 10%);
  border-radius: $border-radius;
  margin-bottom: $gutter;
  transition: background-color 500ms ease-in,
              box-shadow 500ms ease-in;

  &.life-bar--low {
    background-color: $yellow;
    box-shadow: inset 0 0 2px 2px lighten(saturate(rgba($yellow, .8), 10%), 10%), 0 0 4px 2px lighten(rgba($yellow, .8), 10%);
  }

  &.life-bar--critical {
    background-color: $red;
    box-shadow: inset 0 0 2px 2px lighten(saturate(rgba($red, .8), 10%), 10%), 0 0 4px 2px lighten(rgba($red, .8), 10%);
  }
}



.modal {
  @include flexbox-container;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &.active .modal-box {
    transform: translateY(0) rotateX(0deg) scale(1);
    opacity: 1;
  }
}

.modal-box {
  color: $black;
  background-color: $white;
  padding: $gutter-large $gutter-xlarge;
  box-shadow: 0 0 6px 4px rgba($black, .4);
  transform: translateY(20px) rotateX(-30deg) scale(.8);
  opacity: 0;
  transition: all 300ms cubic-bezier(.87,.66,.38,1.35);

  p {
    $caret-width: 20px;
    $caret-height: 10px;

    font-size: $font-size-medium;
    margin: 0 0 $gutter 0;

    position: relative;
    border: 2px solid $gray;
    padding: $gutter;
    border-radius: $border-radius;
    background-color: $gray-light;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $caret-height ($caret-width / 2) 0 ($caret-width / 2);
      border-color: $gray transparent transparent transparent;
      position: absolute;
      bottom: -($caret-height);
      left: 90px; // such magic number!
    }
  }
}

.point {
  $point-width: 20px;
  $point-height: $point-width;

  display: inline-block;
  vertical-align: middle;
  font-size: $font-size-small;
  line-height: $point-height;
  color: $white;
  width: $point-width;
  height: $point-height;
  border-radius: $border-radius;
}

.point--right {
  background-color: $green;

  &:before {
    content: '1';
  }
}

.point--wrong {
  background-color: $red;

  &:before {
    content: '0';
  }
}



/*--------------------------------------------*\
  Utils
\*--------------------------------------------*/

.u-hide { display: none; }
.u-no-transition { transition: none; }



/*--------------------------------------------*\
  Introduction animation
\*--------------------------------------------*/

$intro-delay: 150ms;
$intro-elements:
  unquote(".box-container"),
  unquote(".header h1"),
  unquote(".header h1 + p"),
  unquote(".question-container"),
  unquote(".box-container .button-list"),
  unquote(".footer"),
  unquote(".life-bar");

#{$intro-elements} {
  @include fade-slide-base;
}

@for $i from 1 through length($intro-elements) {
  #{nth($intro-elements, $i)} {
    @include delay($intro-delay * ($i - 1));
  }
}

.active {
  #{$intro-elements} {
    @include fade-slide-active;
  }
}
